/* document.getElementsByClassName("button-selected")[0].style.backgroundColor="var(--clr-white)" */


/* var x=document.querySelectorAll(".btn")
var i;
for (i=0; i < x.length; i++) {
  x[i].style.fontFamily="--font-family-2";
} */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* setting 1 rem = 10px */
  font-size: 62.5%;
}

body {
  /* setting 1em = 16px */
  font-size: 1.6em;
  background: var(--clr-background-color);
  display: flex;
  justify-content: center;
  user-select: none;
}

:root {
  /* setting up variables */
  --clr-background-color: #1E213F;
  --clr-orange: #F87070;
  --clr-green: #70F3F8;
  --clr-purple: #D881F8;
  --clr-white: #ffffff;
  --clr-second-white: #EFF1FA;
  --clr-grey: #D7E0FF;
  --clr-darker-purple: #161932;
  --font-family-1: 'Kumbh Sans',
    sans-serif;
  --font-family-2: 'Roboto Slab',
    serif;
  --font-family-3: 'Space Mono',
    monospace;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: -0.5rem;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/* div#root {
  width: 100vw;
} */

img.logo {
  margin-top: 4.8rem;
  width: 15.6rem;
  height: 3.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.controllers-div {
  margin-top: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 37.3rem;
  height: 6.3rem;
  border-radius: 3.15rem;
  background-color: var(--clr-darker-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.controllers-div button {
  background-color: transparent;
  width: 11.85rem;
  height: 4.8rem;
  border-radius: 2.65rem;
  border: none;
  cursor: pointer;
  color: var(--clr-grey);
  mix-blend-mode: normal;
  opacity: 0.4;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

div.controllers-div button:hover {
  color: var(--clr-white);
  opacity: 1;
}

div.controllers-div button.button-selected {
  background-color: var(--clr-orange);
  color: var(--clr-background-color);
  opacity: 1;
}

div.main-div-timer {
  width: 41rem;
  height: 41rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  box-shadow: -50px -50px 100px #272C5A,
    50px 50px 100px #121530;
  z-index: -1;
}

div.second-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36.6rem;
  height: 36.6rem;
  border-radius: 50%;
  background-color: var(--clr-darker-purple);
}

div.progress-bar {
  width: 33.5rem;
  height: 33.5rem;
}

button.action-text-div {
  background-color: transparent;
  position: absolute;
  display: flex;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.5rem;
  color: var(--clr-grey);
  margin-left: 15rem;
  margin-top: 32.7rem;
}

button.action-text-div:hover {
  color: var(--clr-orange)
}

div.config-div {
  display: flex;
  justify-content: center;
  padding-top: 6.3rem;
  padding-bottom: 5.6rem;
}

div.config-div img {
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 0.3;
  transition: transform .7s ease-in-out;
}

div.config-div img:hover {
  opacity: 0.65;
  transform: rotate(360deg);
}

@media screen and (max-width: 440px) {
  img.logo {
    margin-top: 3.2rem;
    width: 11.7rem;
    height: 2.4rem;
  }

  div.controllers-div {
    width: 32.7rem;
  }

  div.controllers-div button {
    width: 10.36rem;
  }

  div.main-div-timer {
    width: 30rem;
    height: 30rem;
  }

  div.second-circle {
    width: 26.78rem;
    height: 26.78rem;
  }

  div.progress-bar {
    width: 24.805rem;
    height: 24.805rem;
  }
}